
<div class="container">
    <img src="assets/img/dentaldepart.png" width="1200px" style="margin-bottom:20px;" >
<div class="row">
    <div class="col">
    <div class="card" style="width: 14rem;margin-top:20px;">
        <a [routerLink]="['/school']"> <img class="card-img-top" src="assets/img/dentalschool.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">กิจกรรมส่งเสริมทันตสุขภาพ</p>
            
        </div>
    </a> 
    </div>
</div>
    



</div>


</div>