.table td, .table th {
padding: 0rem  !important; 
text-align: center; 
}
.celltext{
  text-align: left  !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  height:500px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  background-color: #e2eafc;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}
.bg-red{
  background-color: lightskyblue;
}
.bg-green{
  background-color: #aad576;
}
.bg-yellow{
  background-color: #ffe66d;
}
.bg-pink{
  background-color: #f0a9de;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
  
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
  border-color: #495057 #495057 #fff;
}

.nav-tabs {
  border-bottom-color: #495057;
}

.nav-tabs .nav-link:hover {
  border-color: #ccc #ccc #495057;
  background-color: #eee;
}

.nav-tabs .nav-link.active:hover {
  background-color: transparent;
}

.nav-tabs .nav-link {
  margin-right: 4px;
}

.map {
  height: 100%;
  padding: 0;
}
.my-leaflet-tooltip {
  background: none;
  border: none;
  box-shadow: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend,.legendMenu {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legendMenu i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 0px;
  opacity: 0.7;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 69px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      top: 99px;
  }
}

  .office {

    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .office.pad1 {
    background-color: rgb(226, 211, 216);
  }

  .office.pad2 {
    background-color: rgb(196, 248, 235);
  }

  .office.pad2 {
    background-color: rgb(229, 230, 200);
  }

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .cardBanner {
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    line-height: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }

  .card.cardPv {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .cards:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }



  .gradient_0    {background: #57bb8a;}
  .gradient_5    {background: #63b682;}
  .gradient_10   {background: #73b87e;}
  .gradient_15   {background: #84bb7b;}
  .gradient_20   {background: #94bd77;}
  .gradient_25   {background: #a4c073;}
  .gradient_30   {background: #b0be6e;}
  .gradient_35   {background: #c4c56d;}
  .gradient_40   {background: #d4c86a;}
  .gradient_45   {background: #e2c965;}
  .gradient_50   {background: #f5ce62;}
  .gradient_55   {background: #f3c563;}
  .gradient_60   {background: #e9b861;}
  .gradient_65   {background: #e6ad61;}
  .gradient_70   {background: #ecac67;}
  .gradient_75   {background: #e9a268;}
  .gradient_80   {background: #e79a69;}
  .gradient_85   {background: #e5926b;}
  .gradient_90   {background: #e2886c;}
  .gradient_95   {background: #e0816d;}
  .gradient_100  {background: #dd776e;}

  /* Red - Yellow - Green */
  .anti-gradient_100  {background: #617aec !important;
  color:white}
  .anti-gradient_95   {background: #3ea363 !important;color:white}
  .anti-gradient_90   {background: #73b87e !important;}
  .anti-gradient_85   {background: #84bb7b !important;}
  .anti-gradient_80   {background: #94bd77 !important;}
  .anti-gradient_75   {background: #a4c073 !important;}
  .anti-gradient_70   {background: #b0be6e !important;}
  .anti-gradient_65   {background: #c4c56d !important;}
  .anti-gradient_60   {background: #d4c86a !important;}
  .anti-gradient_55   {background: #e2c965 !important;}
  .anti-gradient_50   {background: #f5ce62 !important;}
  .anti-gradient_45   {background: #f3c563 !important;}
  .anti-gradient_40   {background: #e9b861 !important;}
  .anti-gradient_35   {background: #e6ad61 !important;}
  .anti-gradient_30   {background: #ecac67 !important;}
  .anti-gradient_25   {background: #e9a268 !important;}
  .anti-gradient_20   {background: #e79a69 !important;}
  .anti-gradient_15   {background: #e5926b !important;}
  .anti-gradient_10   {background: #df6b48 !important;color:white}
  .anti-gradient_5    {background: #eb4827 !important;color:white}
  .anti-gradient_0    {background: #aa1a0d !important;color:white}