
         <div class="card" width="600px" align="center">
          <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
            <div class="wd-100p">
              <h3 class="tx-color-01 mg-b-5">Sign In</h3>
              <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>

              <div class="form-group">
                <label>usernamesignin</label>
                <input type="user"   [(ngModel)]="usercode" class="form-control" placeholder="usercode">
              </div>
              <div class="form-group">
 <label>password</label>
                <input type="password" name="pincode"  [(ngModel)]="pincode"  class="form-control" placeholder="Enter your password">
              </div>
              <button class="btn btn-brand-02 btn-block" (click)="doSubmit()">Sign In</button>

          </div>
          <div><h3>{{showLoginText}}</h3></div>
</div>
